﻿html { height: 100%; }
body { padding-top: 50px; padding-bottom: 20px; min-height: 100%; position: relative; }
footer { width: 100%; height: 100px; position: absolute; bottom: 0; left: 0;right:0 }

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content { padding-left: 15px; padding-right: 15px;   margin-bottom: 80px; }

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea { max-width: 280px; }

/* Carousel */
.carousel-caption { z-index: 10 !important; }

    .carousel-caption p { font-size: 20px; line-height: 1.4; }

@media (min-width: 768px) {
    .carousel-caption { z-index: 10 !important; }
}


/* SITE OVERRIDES */
/*NAV*/
.navbar-inverse .navbar-brand { color: white; }
input, select, textarea { max-width: none; }
.nav-sub .nav > li > a { color: white; padding-top: 10px; padding-bottom: 5px; }
    .nav-sub .nav > li > a:hover { color: gray; }

.nav-sub .nav > li.active { border-bottom: 3px solid #f5a623; }

.navbar div.dropdown, .navbar div.dropdown > a { line-height: 20px; }

.navbar div.dropdown { padding: 15px 0; }
    .navbar div.dropdown > a { padding: 15px; }
/*UTILITY*/
.text-white { color: white; }

.text-yellow { color: #f5a623; }

.bold { font-weight: 800; }

.datepicker-inline { width: auto !important; }
.datepicker table { width: 100%; }

/* CUSTOM CLASSES*/
.chat-list { max-height: 430px; overflow-y: auto; overflow-x: hidden; }
    .chat-list p.chat-bubble { /*width:80%;*/ margin-bottom: 0; background-color:rgb(228, 238, 243);border-radius: 11px; padding: 15px; width: 80%; }
    .chat-right p.chat-bubble {background-color:rgb(123, 197, 232);color: white;}
    .chat-right p.chat-bubble .text-muted {color:#e8e1e1;}
     p.chat-bubble .text-muted { color:#c3c3c3; }
    .chat-list .chat-right p.chat-bubble { text-align: right; margin-left: 20%; /*width:100%;*/ }

#calendar { margin-top: 10px; }
    #calendar .table-condensed thead tr:nth-child(2) th { font-size: 24px; font-weight: 400; }

.nav-sub { background-color: gray; }
#hero-panel { padding-top: 40px; padding-bottom: 80px; height: 500px; }
    #hero-panel h1 { font-size: 4em; }
div#hero-panel-background { position: absolute; left: 0; overflow: hidden;  width: 100%; height: 500px; background-size: 100%; z-index: -1; background-repeat: no-repeat; }

.btn-gold { color: #fff; background-color: #f5a623; border-color: #f5a623; }

.hero-support { width: 100%; height: 200px; background-position: center center; background-size: 100%; margin: 30px 0; }
.smart-workout { background-image: url('../images/istock_000005465074small.jpg'); }
.smart-chat { background-image: url('../images/image_2.png'); }
.smart-calendar { background-image: url('../images/iphone-6-widgets2.jpg'); }
